<div class="box has-background-grey-lighter">
    <p class="has-text-centered has-text-weight-bold">{{title}}</p>
    <button>Change status</button>
    <button>Edit</button>
    <button>Delete</button>
</div>