<div class="box has-background-grey-lighter">
    <p id="test" previous-status={{status}} class="has-text-black-ter has-text-weight-bold has-text-centered"> 
    {{title}} 
    </p>
    <a href="/edit/{{id}}" class="has-text-info-dark">Edit</a>
</div>