<div class="box has-background-grey-light">
    <p id="test" previous-status={{status}} class="has-text-black-ter has-text-weight-bold">
        {{title}}
    </p>
    <a href="/edit/{{id}}" class="has-text-warning-light">Edit</a>
</div>