<h1>Edit Skill: {{skill.title}}</h1>
<div class="box">
    <form class="edit-skill-form">
        <input class="input" type="text" name="skill-title" value="{{skill.title}}">
        <select name="skill-status" id="skill-status" name="skill-status">
            <option value="to-be-learned">To Be Learned</option>
            <option value="in-progress">In Progress</option>
            <option value="mastered">Mastered</option>
        </select>
        <input type="submit" value="Update Skill" id="submit">
    </form>
</div>

<button id="delete-skill">Delete Skill</button>


{{!-- add links to javascript files here! --}}
<script src="/javascript/edit-skill.js"></script>