<ol class="skill-block">
    <div class="columns">
        <div class="column is-narrow-mobile">
            <h1 class="title has-text-weight-bold has-text-black-ter">Add New Skill</h1>
            <p class="has-text-black has-text-weight-bold is-italic">
                Once you are you ready to take the next step - click the "Edit" button to Update, 
                Change the Status or Delete. Add a New Skill to start your Journey!
            </p>
            <form class="new-skill-form">
                <input class="input" type="text" name="skill-title" placeholder="Add New Skill">
                <select name="status" id="status" name="status" class="dropdown">
                    <option value="3">To Be Learned</option>
                    <option value="2">In Progress</option>
                    <option value="1">Mastered</option>
                </select></br>
                <input type="submit" value="Add Skill" id="submit" class="has-background-info-dark has-text-warning-light">
            </form>
        </div>
        <div class="column is-narrow-mobile has-text-centered">
            <div class="box has-background-info-dark">
                <h1 class="title has-text-weight-bold has-text-white-ter">To Be Learned</h1>
                <div class="skills">
                    {{#each skills}}
                    {{#ifEquals status "To Be Learned"}}
                    {{> skills-info}}
                    {{/ifEquals}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="column is-narrow-mobile has-text-centered">
            <div class="box has-background-info-dark">
                <h1 class="title has-text-weight-bold has-text-white-ter">In Progress</h1>
                <div class="skills">
                    {{#each skills}}
                    {{#ifEquals status "In Progress"}}
                    {{> skills-info}}
                    {{/ifEquals}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="column is-narrow-mobile has-text-centered">
            <div class="box has-background-info-dark">
                <h1 class="title has-text-weight-bold has-text-white-ter">Mastered</h1>
                <div class="skills">
                    {{#each skills}}
                    {{#ifEquals status "Mastered"}}
                    {{> skills-info}}
                    {{/ifEquals}}
                    {{/each}}
                </div>
            </div>
        </div>
</ol>

<script src="/javascript/add-skill.js"></script>