<ol class="skill-block">
    <li>
        <div class="column is-narrow-mobile">
                    <h1 class="title">To Be Learned</h1>
                </div>
                    <div class="card is-1">
                        <div class="card-content">
                            <div class="content">
                                <div>
                                    <textarea class="textarea is-danger" placeholder=""></textarea>
                                </div>
                                <time datetime=></time>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">Change to In Progress</a>
                            <a href="#" class="card-footer-item">Save</a>
                            <a href="#" class="card-footer-item">Edit</a>
                            <a href="#" class="card-footer-item">Delete</a>
                        </footer>
                    </div> 
                <div> 
                </div>
                <div class="column is-narrow-mobile">
                    <h1 class="title">In Progress</h1>
            
                </div>
                <div class="column is-narrow-mobile">
                    <h1 class="title">Mastered</h1>
            
                </div>
            </div>
 

    </li>
    <script src="/javascript/status.js"></script>
</ol>