<ol class="skill-block">
    <li>
        <div class="dropdown">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                    <span>Status</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                <div class="dropdown-content">
                    <a href="#" class="dropdown-item">
                        To Be learned
                    </a>
                    <a href="#" class="dropdown-item">
                        In Progress
                    </a>
                    <a href="#" class="dropdown-item">
                        Mastered
                    </a>
                </div>
            </div>
        </div>
    <div>
        <h1></h1>
        <div>
        <textarea class="textarea is-danger" placeholder="Danger textarea"></textarea>
        </div>
        <br>
        <br>
        <br>
        </div>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        To Be Learned
                    </p>
                    <button class="card-header-icon" aria-label="more options">
                        <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        <div>
                            <textarea class="textarea is-danger" placeholder="Danger textarea"></textarea>
                        </div>
                        <time datetime=></time>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item">Change to In Progress</a>
                    <a href="#" class="card-footer-item">Save</a>
                    <a href="#" class="card-footer-item">Edit</a>
                    <a href="#" class="card-footer-item">Delete</a>
                </footer>
            </div>
            <div>
            <br>
            <br>
            <br>
            </div>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        In Progress
                    </p>
                    <button class="card-header-icon" aria-label="more options">
                        <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        <div>
                            <textarea class="textarea is-danger" placeholder="Danger textarea"></textarea>
                        </div>
                        <time datetime=></time>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item">Change to Mastered</a>
                    <a href="#" class="card-footer-item">Save</a>
                    <a href="#" class="card-footer-item">Edit</a>
                    <a href="#" class="card-footer-item">Delete</a>
                </footer>
            </div>
            <br>
            <br>
            <br>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Mastered
                    </p>
                    <button class="card-header-icon" aria-label="more options">
                        <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        <div>
                            <textarea class="textarea is-danger" placeholder="Danger textarea"></textarea>
                        </div>
                        <time datetime=></time>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item">Congratulations! Don't change a thing ;)</a>
                    <a href="#" class="card-footer-item">Edit</a>
                    <a href="#" class="card-footer-item">Delete</a>
                </footer>
            </div>

    </li>
    <script src="/javascript/status.js"></script>
</ol>