<ol class="skill-block">
    <li>
        <div class="dropdown">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                    <span>Status</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                <div class="dropdown-content">
                    <a href="#" class="dropdown-item">
                        To Be Learned
                    </a>
                    <a href="#" class="dropdown-item">
                        In Progress
                    </a>
                    <a href="#" class="dropdown-item">
                        Mastered
                    </a>
                </div>
            </div>
        </div>
        <div>
            <br>
            <br>
            <br>
            {{!-- Card section, not sure if it will work?
        </div>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    To Be Learned
                </p>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <div class="card-content">
                <div class="content">
                    <div>
                        <textarea class="textarea is-danger" placeholder=""></textarea>
                    </div>
                    <time datetime=></time>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Change to In Progress</a>
                <a href="#" class="card-footer-item">Save</a>
                <a href="#" class="card-footer-item">Edit</a>
                <a href="#" class="card-footer-item">Delete</a>
            </footer>
        </div>
        <div>
            <br>
            <br>
            <br>
        </div>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    In Progress
                </p>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <div class="card-content">
                <div class="content">
                    <div>
                        <textarea class="textarea is-danger" placeholder=""></textarea>
                    </div>
                    <time datetime=></time>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Change to Mastered</a>
                <a href="#" class="card-footer-item">Save</a>
                <a href="#" class="card-footer-item">Edit</a>
                <a href="#" class="card-footer-item">Delete</a>
            </footer>
        </div>
        <br>
        <br>
        <br>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Mastered
                </p>
                <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </header>
            <div class="card-content">
                <div class="content">
                    <div>
                        <textarea class="textarea is-danger" placeholder="Danger textarea"></textarea>
                    </div>
                    <time datetime=></time>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Congratulations! Don't change a thing.</a>
                <a href="#" class="card-footer-item">Edit</a>
                <a href="#" class="card-footer-item">Delete</a>
            </footer>
        </div> --}}
        {{!-- Might need to use columns instead? --}}
        <div class="columns">
            <div class="column is-narrow-mobile">
                <h1 class="title">Enter Skill To Begin Your Journey!</h1>
                <form class="box">
                    <div class="field">
                        <label class="label is-centered"></label>
                        <div class="control">
                            <input class="input" type="text" placeholder="">
                        </div>
                    </div>
            </div>
            <div>
                <br>
                <br>
            </div>
            <div class="column is-narrow-mobile">
                <h1 class="title">To Be Learned</h1>
                <div class="skills">
                    {{#each skills}}
                    {{#ifEquals status "To Be Learned"}}
                    {{> skills-info}}
                    {{/ifEquals}}
                    {{/each}}
                </div>

            </div>
            <div class="column is-narrow-mobile">
                <h1 class="title">In Progress</h1>
                <div calss="skills">
                    {{#each skills}}
                    {{#ifEquals status "In Progress"}}
                    {{> skills-info}}
                    {{/ifEquals}}
                    {{/each}}
                </div>

            </div>
            <div class="column is-narrow-mobile">
                <h1 class="title">Mastered</h1>
                <div class="skills">
                    {{#each skills}}
                    {{#ifEquals status "Mastered"}}
                    {{> skills-info}}
                    {{/ifEquals}}
                    {{/each}}
                </div>
            </div>
        </div>

    </li>
    <script src="/javascript/status.js"></script>
</ol>